.work_list-container{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(51, 51, 51, 0.788);
    z-index: 1001;
    font-family: roboto, sans-serif;
}

.work_list-box{
    position: relative;
    width: 80%;
    height: 400px;
}

.work_list-thumb{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.work_list-thumb li{
    list-style: none;
    cursor: pointer;
    width: 100px;
    height: 100px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(4px);
}

.work_list-thumb li img{
    width: 80%;
    border-radius: 50%;
}

.work_list-info_box{
    position: absolute;
    top: 0;
    right: 0;
    width: 95%;
    padding: 1rem 4rem;
    height: 100%;
    background-color: #ffffff33;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(4px);
    color: #fff;
    overflow: hidden;
    overflow-y: auto;
}

    .work_list-info_box::-webkit-scrollbar{
    width: 1px;
    height: 1px;
    }
    .work_list-info_box::-webkit-scrollbar-thumb{
    background: #ffffff00;
    border-radius: 0px;
    }
    .work_list-info_box::-webkit-scrollbar-thumb:hover{
    background: #ffffff00;
    }
    .work_list-info_box::-webkit-scrollbar-track{
    background: #ffffff00;
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
    }

.work_list-info_box h5{
    font-size: 2rem;
}

.work_list-technology-description{
    white-space: pre-wrap;
}

.work_list-info_box a{
    color: #4B9AFB;
}

.work_list-technology-container{
    display: flex;
    justify-content: space-between;
}

.work_list-technology{
    display: flex;
    align-items: center;
}

.work_list-technology img{
    display: block;
    width: 50px;
    margin-right: 5px;
}

.work-list-img-work{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.work-list-img-work img{
    width: 70%;
    border-radius: 20px;
    object-fit: contain;
}

.work_list-info_close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    cursor: pointer;
}



@media screen and (max-width: 780px){
    .work_list-box{
        width: 90%;
        height: 800px;
    }

    .work_list-info_box h5{
        font-size: 4rem;
    }
    
    .work_list-technology-description{
        font-size: 2rem;
    }
    
    .work_list-info_box a{
        font-size: 2rem;
    }
    
    .work_list-technology-container{
        flex-wrap: wrap;
    }
    
    .work_list-technology{
        font-size: 2rem;
    }
    
    .work_list-technology img{
        width: 100px;
    }
    
    .work-list-img-work{
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }
    
    .work-list-img-work img{
        width: 100%;
    }
    
    .work_list-info_close{
        font-size: 2rem ;
    }
    
    @media screen and (max-width: 550px ){    
        .work_list-box{
            width: 90%;
            height: 500px;
        }
    
        .work_list-thumb li{
            width: 70px;
            height: 70px;
        }

        .work_list-info_box h5{
            font-size: 1rem;
        }
        
        .work_list-technology-description{
            font-size: 1rem;
        }
        
        .work_list-info_box a{
            font-size: 1rem;
        }
        
        .work_list-technology-container{
            flex-wrap: wrap;
        }
        
        .work_list-technology{
            font-size: 1rem;
        }
        
        .work_list-technology img{
            width: 50px;
        }
        
        .work-list-img-work{
            display: flex;
            justify-content: center;
            margin-top: 15px;
        }
        
        .work-list-img-work img{
            width: 150%;
        }
        
        .work_list-info_close{
            font-size: 1rem ;
        }

    }
}